@model IEnumerable<Product>

@{
    ViewBag.Title = "Product List";
}

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    @foreach (var product in Model)
    { 
        <tr>
            <td>@product.Name</td>
            <td>@product.Price</td>
        </tr>
    }
</table>
